body {
	font: 12px/24px sans-serif;
	margin: 0;
}

form {
	margin: 0;
	padding: 0;
}

h1 {
	display: block;
	margin: 0;
	padding: 4px;
	font: inherit;
	font-weight: bold;
	text-align: left;
	background: #C8102E;
	color: white;
}

.container {
	max-width: 800px;
	margin: 0 auto;
	box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
}

@media(min-width: 820px) {
	.container {
		margin: 10vh auto;
	}
}

.add-entry-section {
	display: flex;
}

.add-entry-section input {
	flex: 1 1 auto;
	border: 0;
	margin: 0;
	padding: 4px;
	font: inherit;
}

.add-entry-section button {
	flex: 0 0 auto;
	margin: 0;
	padding: 0 16px;
	border: 0;
	font: inherit;
	color: white;
	background: #36749D;
}

.add-entry-section button:hover,
.add-entry-section button:focus {
	background: #275472;
}


.list-section ol {
	list-style: none;
	margin: 0;
	padding: 0;
}

.list-section li {
	padding: 4px;
}

.list-section > ol > li {
	background: #DEDEDE;
	color: black;
	position: -webkit-sticky;
	position: -moz-sticky;
	position: -ms-sticky;
	position: sticky;
	top: 0;
}

.toggle-completed {
	display: block;
	padding: 4px;
	text-align: center;
	color: #36749D;
	text-decoration: none;
}

.toggle-completed:hover,
.toggle-completed:focus {
	text-decoration: underline;
}

.times-reported {
	display: inline-block;
	background: #DADADA;
	color: #666;
	font-size: 0.8em;
	line-height: 1em;
	padding: 2px 4px;
	border-radius: 6px;
}

.times-reported::after {
	content: '\00d7';
}