<?php
$texts = [
	"Help! We have no more %s!",
	"We're all out of %s!",
	"len(%s) == 0"
];

$text = $texts[array_rand($texts)];
?>
<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>Empty!</title>
		<style>
			html, body {
				margin: 0;
				height: 100%;
			}

			body {
				font: 24px/36px sans-serif;
				text-align: center;
				display: flex;
				flex-direction: column;
				justify-content: center;
				align-items: center;
			}

			input[name=entry] {
				font: inherit;
				border: 0;
				border-bottom: 2px solid black;
			}

			input[name=entry]:hover,
			input[name=entry]:focus {
				border-color: #C8102E;
			}

			button {
				font: inherit;
				font-size: 0.8em;
				border: 0;
				color: white;
				background: #C8102E;
				padding: 4px 24px;
				transition: box-shadow 200ms ease-in-out;

			}

			button:hover,
			button:focus {
				box-shadow: 0 4px 16px rgba(0, 0, 0, 0.6);
			}

			.report-form {
				flex: 0 0 auto;
			}

			.alert {
				flex: 0 0 auto;
			}
		</style>
	</head>
	<body>
		<?php if ($success === true): ?>
		<p class="alert success">Reported!</p>
		<?php elseif ($success === false): ?>
		<p class="alert error">Sorry, something went wrong</p>
		<?php endif ?>
		
		<form action="" method="POST" class="report-form">
			<p><?php printf(htmlspecialchars($text, ENT_HTML401, 'utf-8'), '<input type="text" name="entry" placeholder="Type here…" required>') ?></p>
			<button type="submit">Report</button>
		</form>
	</body>
</html>