<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width">
		<title>(<?=$uncompleted_count?>) Empty!</title>
		<link rel="stylesheet" href="style.css">
	</head>
	<body>
		<div class="container">
			<h1>To-buy list</h1>
			<form action="" method="post" class="add-entry-section">
				<input type="text" name="entry" placeholder="Add something…" required>
				<button type="submit">Add</button>
			</form>
			<?php if (count($days) > 0): ?>
				<form action="" method="post" class="list-section">
					<ol>
					<?php foreach ($days as $day => $day_entries): ?>
						<li><?=html_encode(date_create_immutable($day_entries[0]->created_on)->format('l'))?></li>
						<ol>
						<?php foreach ($day_entries as $entry): ?>
							<li>
								<?=html_input('hidden', [
									'name' => sprintf('completed[%d]', $entry->id),
									'value' => 0
								]) ?>
								<?=html_input('checkbox', [
									'name' => sprintf('completed[%d]', $entry->id),
									'value' => 1,
									'id' => sprintf('completed-%d', $entry->id),
									'checked' => (bool) $entry->completed
								]) ?>
								<label for="completed-<?=$entry->id?>">
									<?=html_encode($entry->entry)?>
									<span class="times-reported"><?=$entry->reported?></span>	
								</label>
							</li>
						<?php endforeach ?>
						</ol>
					<?php endforeach ?>
					</ol>
					<button type="submit">Save</button>
				</form>
			<?php else: ?>
				<div class="list-section">
					<p>Nothing to do 😁</p>
				</div>
			<?php endif ?>
			<?php if ($show_completed): ?>
				<a href="?completed=hide" class="toggle-completed">Hide completed</a>
			<?php else: ?>
				<a href="?completed=show" class="toggle-completed">Show completed</a>
			<?php endif ?>
		</div>
		<script>
			"use strict";
			document.querySelector('.list-section').addEventListener('change', function(e) {
				if (e.target.matches('input[type=checkbox]')) {
					var request = new XMLHttpRequest();
					request.open('POST', e.target.form.action, true);
					request.setRequestHeader('Content-Type', 'application/x-www-form-urlencoded');
					request.send(e.target.name + '=' + (e.target.checked ? '1' : 0));
				}
			});

			let submitBtn = document.querySelector('.list-section button[type=submit]');
			if (submitBtn) submitBtn.style.display = 'none';
		</script>
	</body>
</html>